.pointer {
    cursor: pointer;
}

.toggle-password {
    position: absolute;
    right: 25px; /* Ajusta según sea necesario */
    top: 67%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333; /* Cambia el color del ícono */
    font-size: 1.5rem; /* Cambia el tamaño del ícono */
}

.toggle-password2 {
    position: absolute;
    right: 25px; /* Ajusta según sea necesario */
    top: 67%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333; /* Cambia el color del ícono */
    font-size: 1.5rem; /* Cambia el tamaño del ícono */
}

.datepicker 
.day, 
.datepicker 
.month, 
.datepicker 
.year 
{ 
    font-size: 12px; /* Reduce el tamaño de la fuente para los números */ 
} 

.datepicker 
.datepicker-switch, 
.datepicker .prev, 
.datepicker .next, 
.datepicker th 
{ 
    font-size: 12px; /* Reduce el tamaño de la fuente para los controles */ 
}

