body
{
    background-color: rgb(241, 243, 247);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*
{
    font-family: Arial, Helvetica, sans-serif;
}

form
{
    background-color: rgb(255, 255, 255);
    width: 600px;
    padding:  6rem;
    border-radius: 20px;
}

h1
{
    display: block;
    font-size: 25px;
    width: 65%;
    padding: 5px;
    margin: 2px;
    text-align:inherit;
}

img
{
    align-items: left;
}

.message1
{
   font-size: small;
   margin: 10px;
}

.message2
{
   font-size: small;
   margin-top: 10px
}

button
{
    display: inline-block;
    width: 400px;
}



.hidden { 
    display: none;
}

.position-relative {
    position: relative;
    min-height: 60px; /* Asegúrate de que haya suficiente espacio */
}

.position-absolute {
    position: absolute;
    top: 70%;
    right: 10px; /* Ajusta según tus necesidades */
    transform: translateY(-50%);
    cursor: pointer; /* Opcional: para indicar que el icono es interactivo */
}

.move-up { 
    top: calc(50% - 4px); 
}

.move-up2 { 
    top: calc(50% - 24px); 
}
